:root{
  --dark-shade: #000;
  --dark-grey: #333;
  --gray:#555;
  --light-grey:#ccc;
  --light-gray:#eee;
  --light-shade:aliceblue;
  --light:#fff;
  --default-shadow:1px 1px 5px 0px rgba(0,0,0,0.75);
}
/* ::-webkit-scrollbar{

}
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{

} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background-color: var(--light-shade);
  width: 100%;
  display: flex;
  flex-direction:column;
}
/* .app-container{
  position:relative;
  background-color: var(--light-grey);
} */
/* #sideBar{
  position: fixed;
  z-index:100;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-shade);
} */
/* #sideBar button{
  display:block;
  width:100%;
  background-color:var(--dark-shade);
  font-size: 2.5em;
  color:var(--light);
  border:none;
  text-decoration: none;
  transition: 0.5s all;
}
#sideBar button:hover,
#sideBar button.active{
  background-color: var(--light-grey);
  color: var(--dark-shade);
} */
/* #app-pages{
  margin-left:65px;
  min-height: 100vh;
} */
/* #dashboard{
  display:flex;
  flex-direction:column;
  padding:10px;
}
.dashboard-content{
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.dashboard-main,
.dashboard-side{
  display:flex;
  flex-direction:column;
}
.daily-summary{
  background-color: var(--light);
  display:flex;
  justify-content:space-between;
  align-items: center;
  box-shadow:var(--default-shadow);
  padding:10px 20px;
  margin-bottom: 10px;
}
.daily-summary .current-datetime{
  text-align: right;
}
.sum-cards,
.inv-cards{
  display:flex;
  justify-content:space-between;
}
.sum-cards>div,
.inv-cards>div{
  background-color: var(--light);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:10px;
  box-shadow:var(--default-shadow);
  border-radius:5px;
}
.sum-cards div .sum-icon,
.inv-cards div .sum-icon{
  margin-left: 10px;
  font-size: 4em;
} */
/* #inventory{
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:10px;
  padding:10px;
}
#inventory>div{
  display:flex;
  flex-direction:column;
  border:1px solid black;
}
.out-of-stock-items{
  margin: 20px 0px;
}
.inv-action-btn{
  display:block;
  margin-top:10px;
} */




